.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 20%;
    max-width: 50%;
    margin-top: 3rem;
}

.form__input {
    position: relative;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 1rem;
    background-color: var(--input-background-color);
    color: var(--foreground-color);
    border: none;
    outline: none;
}

.form__submit {
    padding: 1rem 2rem;
    font-size: 2rem;
    letter-spacing: 1px;
    background-color: var(--auth-button-color);
    color: var(--foreground-color);
    border: none;
    cursor: pointer;

}

.form__submit:hover {
    background-color: var(--auth-button-color-hover);
}
