.form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input {
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding: 1rem;
    background-color: var(--input-background-color);
    color: var(--foreground-color);
    border: none;
    outline: none;
}

.form__label {
    font-size: 3rem;
    color: var(--foreground-color);
}

.form__submit {
    padding: 1rem 2rem;
    font-size: 2.5rem;
    letter-spacing: 1px;
    background-color: var(--auth-button-color);
    color: var(--foreground-color);
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.form__submit:hover {
    background-color: var(--auth-button-color-hover);
}

.form__checkbox {
    display: flex;
    align-items: center;
}

.form__checkbox label {
    cursor: pointer;
    display: flex;
}

.form__checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.form__checkbox label::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    background-color: var(--input-background-color);
    border: 0.05em solid black;
}

.form__checkbox label:hover::before,
.form__checkbox input[type="checkbox"]:hover + label::before {
    background-color: var(--auth-button-color-hover);
}

.form__checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 20px black;
}

.form__checkbox input[type="checkbox"]:checked + label::before {
    content: "\002714";
    background-color: var(--auth-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
