.wrapper {
    display: flex;
    gap: 3rem;
    padding-top: 2rem;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home__actions {
    font-size: 3rem;
    color: var(--foreground-color);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.home__link {
    max-width: fit-content;
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 2rem;
    color: var(--foreground-color);
}

.home__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease-in;
}

.home__link:hover::before {
    transform: scaleX(1);
}
