{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/authentication.css' %}" />
    <link rel="stylesheet" href="{% static 'users/header.css' %}">
    <link rel="stylesheet" href="{% static 'users/messages.css' %}">
{% endblock styles %}
{% block title %}Register{% endblock title %}
{% block header %}
    {% include 'users/includes/header.html'  %}
{% endblock header %}
{% block content %}
    {% include "users/includes/messages.html" %}
    <form class='auth-form' method="POST">
        {% csrf_token %}
        {{register_form.username}}
        {{register_form.password1}}
        {{register_form.password2}}
        <input class='auth-form__submit' type="submit" value="Register">
    </form>
{% endblock content %}