@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --background-color: #1e1e1e;
    --foreground-color: #d4d4d4;
    --foreground-color-hover: #d7d7d7;
    --link-underline-red-color: red;
    --link-underline-blue-color: blue;
    --auth-button-color: #2e82c7;
    --auth-button-color-hover: #569cd6;
    --secondary-color: #9cdcfe;
    --success-color: #6a9955;
    --warning-color: #ce9178;
    --error-color: #f44747;
    --info-color: #4ec9b0;
    --input-background-color: #2d2d2d;
    --input-border-color: #3c3c3c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--background-color);
    max-width: 100vw;
    max-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
