{% extends "panel.html" %} 
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'panel/semester_list_view.css' %}">
{% endblock styles %}

{% block title %}Semesters{% endblock title %}

{% block header %} 
    {% include "panel/includes/header.html" %}
{% endblock header %} 
{% block content %} 
{% include "panel/includes/messages.html" %}
<form class='form' method='POST'>
{%csrf_token %} 
{% if semester_list %}

<div class='table'>
{% for column_name in column_names %}
{% include "panel/includes/semester/semester_column.html" with column_name=column_name semester_list=semester_list %}
{% endfor %}
</div>

{% else %}
<div class='wrapper'>
    <p class='wrapper__p'>You need to fetch semesters first</p>
</div>

{% endif %}
{% if semester_list  %}
<div class="form__wrapper">
    <input class='form__submit' type="submit" value="Fetch Subjects from selected semesters">
</div>
{% endif %}
</form>
{% endblock content %}
