{% extends "panel.html" %} 
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'panel/semester_list_view.css' %}">
{% endblock styles %}

{% block header %} 
    {% include "panel/includes/header.html" %}
{% endblock header %} 
{% block content %} 
{% include "panel/includes/messages.html" %}
<form class='form' method='POST'>
{%csrf_token %} 
{% if semester_list %}
<table class='table'>
    <tr class='table__row'>
        <th class='table__header'>Semester</th>
        <th class='table__header'>Fetched?</th>
        {% if mod %}
        <th class='table__header'>Select semesters to fetch data</th>
        {% endif %}
        <th class='table__header'>View Subjects</th>
    </tr>
    {% for semester in semester_list %}
    <tr class='table__row'>
        <td class='table__data'>
            {% if mod %}
            <a class='table__link' href="{% url  'panel:edit-semester-view' semester.pk %}">{{semester.name}}</a>
            {% else %}
                <p>{{semester.name}}</p>
            {% endif %}
        </th>
        <td class='table__data'><input class='form__checkbox' type="checkbox" name="semester_checked" id="semester_{{semester.pk}} " {% if semester.fetched %}checked{%endif%} disabled></th>
        {% if mod %}
        <td class='table__data'><input class='form__checkbox' type="checkbox" name="semester_checked" id="semester_{{semester.pk}}" value="{{semester.pk}}"></th>
        {% endif %}
        <td class='table__data'><a class='table__link' href="{% url 'panel:subject-list-view' semester.pk %}">View Subjects</a></th>
    </tr>    
    {% endfor %}
</table>
{% else %}
<div class='wrapper'>
    <p class='wrapper__p'>You need to fetch list of semesters first</p>
</div>

{% endif %}
{% if mod and semester_list  %}
<div class="form__wrapper">
    <input class='form__submit' type="submit" value="Fetch Subjects from selected semesters">
</div>
{% endif %}
</form>
{% endblock content %}
