.main {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    padding: 6rem 5rem 0 6rem;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    max-width: 25vw;
}

.main__link {
    position: relative;
    max-width: fit-content;
    font-size: 2rem;
    color: var(--foreground-color);
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    padding: 0.5rem 0 0.2rem 0;
}
.main__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease-in;
}

.main__link:hover::before {
    transform: scaleX(1);
}

.endpoint__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.endpoint__h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: var(--foreground-color);
}

.endpoint__p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--foreground-color);
}

.endpoint__span {
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--foreground-color);
}